# core function
PyAlgoEngine
pandas
numpy

# for back test
py7zr  # historical data api
baostock  # minute bar data api
plotly  # plotting support

# for calibration
scikit-learn

# for xgb
xgboost

# for estimate error of random forest
forestci