# core function
PyAlgoEngine
PyQuantKit
pandas
numpy
scipy

# for back test
py7zr  # historical data api
baostock  # minute bar data api
plotly  # plotting support

# for calibration
scikit-learn

# for xgb
xgboost

# for estimate error of random forest
forestci

# for Kalman filter and other stats models
statsmodels